.card{
    .img-wrap{
        position: relative;
        width: 300px;
        aspect-ratio: 1/1;
        border-radius: 1rem;
        overflow: hidden;
        *{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        h2{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            &:hover{
                background-color: rgba(255, 255, 255, 0.2);
                backdrop-filter: blur(30px);
                color: white;
                transition: 0.5s;
            }
        }
    }
}