.toggle{
    button{
        margin: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        border: 1px solid #ddd;
        cursor: pointer;
    }
    p{
        color: rgb(238, 144, 57);
        font-weight: 700;
        margin: 0.5rem 1rem 2rem 1rem;
        padding: 1rem;
        border: 1px solid #ddd;
        border-radius: 0.5rem;
        background-color: aliceblue;
    }
}
.like{
    p{
        display: inline;
        color: rgb(238, 57, 132);
        font-weight: 700;
        margin: 2rem 1rem 0.5rem 1rem;
        padding: 1rem;
        border: 1px solid #cfcfcf;
        border-radius: 0.5rem;
        background-color: rgb(245, 255, 240);
    }
    button{
        margin: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        border: 1px solid #ddd;
        cursor: pointer;
    }
}
.menubar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4{
        font-size: 1.25rem;
        padding: 0.5rem 1rem;
    }
    ul{
        width: 32px;
        height: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0.5rem 1rem;
        padding: 0.75rem;
        box-sizing: border-box;
        border-radius: 0.25rem;
        background-color: #222;
        cursor: pointer;
        li{
            width: 16px;
            height: 2px;
            background-color: white;
        }
    }
}
.menu{
    h4{
        font-size: 1.25rem;
        padding: 0.5rem 1rem;
    }
    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul{
            width: 32px;
            height: 32px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 0.5rem 1rem;
            padding: 0.75rem;
            box-sizing: border-box;
            border-radius: 0.25rem;
            background-color: #222;
            cursor: pointer;
            li{
                width: 16px;
                height: 2px;
                background-color: white;
                &:nth-child(1){
                }
            }
        }
    }
    
    ul:nth-child(2){
        display: flex;
        flex-direction: column;
        
        color: white;
        
        .top{
            flex-direction: column;
            background-color: #222;
            border-radius: 0.25rem;
            padding: 0.75rem;
            margin: 1rem;
            li{
                
            }
        }
        .bottom{
            justify-content: center;
        }
    }
}