
.card{
    *{margin: 0; padding: 0;};
    position: relative;
    width: 295px;
    height: 405px;
    .img_wrap{
        position: absolute;
        aspect-ratio: 1/1;
        overflow: hidden;
        border-radius: 1rem;
        img{
            width: 100%;
            background-size: cover;
            background-position: center;
        };
        h2{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;
        };
    };
    .txt{
        position: absolute;
        top: 305px;
    }
};