.card{
    position: relative;
    width: 300px;
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 1rem;
    .img_wrap{
        position: absolute;
        img{
        width: 100%;
        border-radius: 1rem;
    };
    .txt{
    }
    };
    
};